main {
  text-align: center;
}

main p {
  margin-bottom: 1rem;
  font-weight: 100;
}

main .p1 {
  font-family: "Questrial", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2em; /* For wide spacing */
}

main .p2 {
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

main .p3 {
  font-family: "Space Mono", monospace;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.15em;
}

main form {
  margin-top: 3rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.5rem;
  background-color: rgb(235, 230, 239);
  transition: background-color 100ms;
}

.form:has(input:hover),
main .form input:hover {
  background-color: rgb(218, 214, 222);
}

main form input {
  width: 20vw;
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
  border: none;
  outline: none;
  background-color: rgb(235, 230, 239);
  transition: background-color 100ms;
}

main form button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5rem;
  transition: background-color 100ms;
}

main form button:hover {
  background-color: rgb(223, 218, 227);
}
